[user]
	name = Simon LEONARD
	email = git-1001af4@sinux.sh
	signingkey = C97A069F38BDB578263F7BCDE51D60C91F6BD4B3
[core]
	autocrlf = input
[pull]
	rebase = true
[init]
	defaultBranch = main
[alias]
	amend = commit --amend --no-edit
	st = status -s -b
	br = branch -a -v
	l = log --oneline
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
